/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

/* Display Flex */
.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
}

/* Header */
header{
    width: 100%;
    height: 60px;
}

.header-fifty{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.header-fifty span{
    line-height: 2;
    vertical-align: top;
    margin: .7rem;
    padding-left: .5rem;
}

header button{
    vertical-align: bottom;
    line-height: 2;
    width: 4rem;
    background-color: lightskyblue;
    color: white;
}

/* Jumbotron */
.jumbotron{
    width: 100%;
    background-color: lightblue;
}

.container-jumbo{
    width: 100%;
    padding: 3rem 15rem;
}

.container-jumbo > h1{
    font-size: 80px;
    padding-bottom: 2rem;
}

.column-jumbo-small{
    width: 30%;
    height: 400px;
    background-color: blueviolet;
}

.column-jumbo-big{
    width: 70%;
    height: 400px;
    background-color: green;
}

/* Main */
main{
    max-width: 1500px;
}
.container-main{
    width: 60%;
    background-color: lightgreen;
    padding-top: 3rem;
}

main h2{
    font-size: 40px;
    padding-bottom: 1rem;
}

.tre-pacchetti{
    width: 100%;
}

.pacchetto{
    width: calc(100% / 3);
    height: 600px;
    margin: 2rem 1rem 2rem 1rem;
    background-color: darkgreen;
}

.singolo-pacchetto{
    width: 100%;
    height: 300px;
    background-color: darkgreen;
    padding: 2rem 0;
}

.column{
    width: 100%;
    padding: 6rem 0;
}

.column-small{
    width: 40%;
    height: 400px;
    background-color: darkred;
}

.column-big{
    width: 60%;
    height: 400px;
    background-color: deeppink;
}

.column-six{
    width: 100%;
}

.column-six  div{
    width: calc(100% / 3);
    height: 400px;
    margin: 1rem .3rem;
    background-color: lightslategray;
}

/* section membri */
.info{
    width: 60%;
    padding: 3rem 0;
}

.membri{
    width: 100%;
    padding-top: 5rem;
}

.quadrati{
    width: 33%;
    height: 400px;
    background-color: black;
}

.quadrato-centrale{
    width: 35%;
    height: 400px;
    background-color: darkblue;
}

.click{
    width: 100%;
    height: 300px;
    background-color: cornflowerblue;
}

/* Domande frequenti */
.question{
    width: 100%;
    height: 300px;
    background-color: beige;
}

div > h2{
    font-size: 30px;
    padding-bottom: 3rem;
}

/* Footer */
footer{
    width: 100%;
    background-color: black;
}

.column-footer{
    background-color: seagreen;
    width: 100%;
    height: 80px;
}