/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

button{
    background-color: #0000ff;
    color: white;
    border: white;
}

.container-jumbo-footer{
    width: 100%;
    padding: 0 15rem 1rem 15rem;
    position: relative;
    top: 70px;
}

ul{
    list-style-type: none;
    margin-top: .7rem;
}

/* Display Flex */
.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
}

/* Header */
header{
    width: 100%;
    height: 60px;
}

.header-fifty{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.header-fifty span{
    line-height: 2;
    vertical-align: top;
    margin: .7rem;
    padding-left: .5rem;
}

header button{
    vertical-align: bottom;
    line-height: 2.3;
    width: 4rem;
}

/* Jumbotron */
.jumbotron{
    width: 100%;
    background-color: lightblue;
}

.container-jumbo-footer > h1{
    font-size: 70px;
    padding-bottom: 2rem;
}

.column-jumbo-small{
    width: 30%;
    height: 400px;
}

.column-jumbo-big{
    width: 70%;
    height: 400px;
}

.jumbotron img{
    width: 100%;
}

.jumbotron p{
    font-size: 16px;
    padding-bottom: 2rem;
}

.jumbotron .extra-p{
    padding-top: 2rem;
}

.jumbotron button{
    width: 11rem;
    height: 3rem;
}

/* Main */
main{
    max-width: 1500px;
}
.container-main{
    width: 60%;
    padding-top: 10rem;
}

main h2{
    font-size: 40px;
    padding-bottom: 1rem;
}

.tre-pacchetti{
    width: 100%;
}

.tre-pacchetti li{
    margin-top: 1rem;
}

.pacchetto{
    border: 1px solid black;
    padding: 2rem 0;
    display: inline;
    margin-left: .2rem;
    position: relative;
}

.pacchetto > *{
    padding-left: 1rem;
    padding-top: 1.5rem;
}

.singolo-pacchetto{
    width: 100%;
    border: 1px solid black;
    margin-top: 3rem;
    padding-bottom: 2rem;
    position: relative;
}

.singolo-pacchetto > .titolo-plan{
    border: 1px solid black;
    border-bottom: 1.5px solid black;
    width: 100%;
    height: 30px;
    text-align: center;
}

.column-plan{
    width: 70%;
    height: 100%;
}

.column-plan *{
    margin-left: 2rem;
    margin-top: 1rem;
}

.singolo-pacchetto p{
    padding-top: 3rem;
}

.singolo-pacchetto button{
    width: 200px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 3rem;
    margin-top: 4rem;
}

.button-fifty{
    width: 25%;
}

.column{
    width: 100%;
    padding: 6rem 0;
}

.column-small{
    width: 40%;
    height: 100%;
    margin-left: 2rem;
    margin-top: 2rem;
}

button.white{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin: 1rem 0;
    width: 150px;
    height: 40px;
}


.column-big{
    width: 60%;
    height: 100%;
}

.column-big img{
    width: 100%;
}

.column-six{
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
}

.column-six p{
    margin-right: .5rem;
}

.column-six img{
    width: 100%;
    height: 200px;
}

.column-six h3{
    margin-bottom: 1rem;
}

.column-six div{
    width: calc(100% / 3);
}

.checkbox{
    padding-bottom: 2rem;
}

.checkbox span{
    margin-left: .5rem;
    margin-right: .5rem;
}

.tipologia{
    position: absolute;
    top: 0;
    border: .8px solid black;
    border-bottom: 1.5px solid black;
    width: 100%;
    height: 30px;
    line-height: 1.7;
    padding-left: 6rem;
    padding-top: 0;
}

main hr{
    width: 20%;
}

.tre-pacchetti button{
    margin-left: .8rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    width: 85%;
}

.titolo-plan p{
    padding-top: 2rem;
}

.bord-top{
    border-top: .5px solid black;
    width: 80%;
    margin-left: 1rem;
    margin-top: 1rem;
}
/* section membri */
.info{
    width: 60%;
    padding: 6rem 0;
}

.membri{
    width: 100%;
    padding-top: 5rem;
}

.quadrati{
    width: calc(100% / 2);
}

.quadrati img{
    width: 50%;
    height: 50%;
    filter: invert(1);
    margin-left: 4rem;
    margin-top: 3.5rem;
}

.quadrato{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.quadrato div{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.quadrato-centrale{
    width: 35%;
    height: 400px;
    background-color: aliceblue;
}

.quadrato-centrale img{
    width: 200px;
}

.quadrato-centrale *{
    margin: 1rem 1rem;

}

.quadrato-centrale hr{
    width: 20%;
}

.click{
    width: 100%;
    background-color: lightblue;
    padding-bottom: 4rem;
}

.click h2{
    width: 60%;
    margin-right: 4rem;
    display: flex;
    justify-content: flex-start;
    color: darkred;
}

.click button{
    width: 200px;
    height: 40px;
    color: black;
    background-color: white;
    border: 0px;
}

.green{
    background-color: lightgreen;
}

.darkred{
    background-color: darkred;
}

.lightblue{
    background-color: dodgerblue;
}

.red{
    background-color: red;
}

.celeste{
    background-color: lightblue;
}

.blue{
    background-color: darkblue;
}

.yellow{
    background-color: gold;
}

div.quadrato > *:hover{
    border: .5rem solid lightslategrey;
}
/* Domande frequenti */
.question{
    width: 100%;
    height: 300px;
}

.question p{
    margin: 2rem 0;
}

div > h2{
    font-size: 30px;
    padding-bottom: 3rem;
}

.question i{
    margin-left: 13rem;
}

/* Footer */
footer{
    width: 100%;
    background-color: black;
    color: white;
}

.column-footer{
    width: calc(100% / 5);
    height: 500px;
}

.column-footer *{
    margin-top: .9rem;
}

footer h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.grey-word{
    margin-top: 8rem;
    color: darkgray;
    border-top: .5px solid darkgray;
    width: 50%;
}




